div {
    text-align: center;
    background-color: #291f1f;
    font-family: Arial, sans-serif;
    color: #e96e6e;
    margin: 0px;
    padding: 350px;
    min-height: 100vh;
    padding-top: 50px;
 
}


