*{
    margin : 0px;
    padding : 0px;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}