*{
    margin : 0px;
    padding : 0px;
  align-items: center;
  justify-content: center;
}

div{
  height: 100vh;
  display: list-item;
  justify-content: center; /* Center horizontally */
  align-items: start; /* Push to top */
  padding-top: 40px; /* Optional spacing from top */
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}